<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Cartelera </title>
		<link rel="stylesheet" href="css/main.css" />

	</head>

	<body>

		<div class="container">

			<% include header.html %>

			<% include menu_nav.html %>

			<h2> Cartelera </h2>

			<section class="movies">

				<div id="movie1">

					<a href="/hungerGames"> <h3 id="titulo"> <%= body.movies[0].title %> </h3> </a>

					<a href="/hungerGames"> <img src="img/icon/theHunterGames.jpg"></img> </a>

					<h3> Año: </h3>

					<p> <%= body.movies[0].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[0].runtime %> mins </p>

				</div> <!-- Cierre del div movie1 -->


				<div id="movie2">

					<a href="/bigHero"> <h3 id="titulo"> <%= body.movies[2].title %> </h3> </a>

					<a href="/bigHero"> <img src="img/icon/bigHero6.jpg"></img> </a>

					<h3> Año: </h3>

					<p> <%= body.movies[2].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[2].runtime %> mins </p>

				</div> <!-- Cierre del div movie2 -->


			</section> <!-- Cierre de la sección de peliculas -->
			
		</div> <!-- Cierre del div container -->

	</body>
</html>