<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Estrenos </title>
		<link rel="stylesheet" href="css/main.css" />

	</head>

	<body>

		<div class="container">

			<% include header.html %>

			<% include menu_nav.html %>

			<h2> Estrenos </h2>

			<section class="movies">

				<div id="movie5">

					<a href="/pyramid"> <h3 id="titulo"> <%= body.movies[0].title %> </h3> </a>

					<a href="/pyramid"> <img src="img/icon/thePyramid.jpg"></img> </a>

					<h3> A침o: </h3>

					<p> <%= body.movies[0].year %> </p>

					<h3> Duraci칩n: </h3>

					<p> <%= body.movies[0].runtime %> mins </p>

				</div> <!-- Cierre del div movie5 -->


			<div id="movie6">

				<a href="/wild"> <h3 id="titulo"> <%= body.movies[1].title %> </h3> </a>

				<a href="/wild"> <img src="img/icon/wild.jpg"></img> </a>

				<h3> A침o: </h3>

				<p> <%= body.movies[1].year %> </p>

				<h3> Duraci칩n: </h3>

				<p> <%= body.movies[1].runtime %> mins </p>

			</div> <!-- Cierre del div movie6 -->
			
		</div> <!-- Cierre del div container -->

	</body>
</html>