<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> The Hunger Games </title>
		<link rel="stylesheet" href="css/movie.css" />

	</head>

	<body>

		<div class="container">

			<% include header.html %>

			<center> <h1> <%= body.movies[0].title %> </h1> </center>

			<section class="info">

				<div id="imagen">

					<img src="img/cartel/theHunterGames.jpg"></img>

				</div> <!-- Cierre del div imagen -->

				<div id="data">

					<h3> Año: </h3>

					<p> <%= body.movies[0].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[0].runtime %> mins </p>

					<h3> Sinopsis: </h3>

					<p id="sinopsis"> <%= body.movies[0].synopsis %> </p>

					<h3> Reparto: </h3>

					<table id="reparto">

					 	<!-- Fila 0 -->
					 	<tr>
					 		<td> <%= body.movies[0].abridged_cast[0].name %>  </td>
					 		<td> <img src="img/flecha.png"></img> </td>
					 		<td> <%= body.movies[0].abridged_cast[0].characters %> </td>
					 	</tr>

					 	<!-- Fila 1 -->
					 	<tr>
					 		<td> <%= body.movies[0].abridged_cast[1].name %> </td>
					 		<td> <img src="img/flecha.png"></img> </td>
					 		<td> <%= body.movies[0].abridged_cast[1].characters %> </td>
					 	</tr>

					 	<!-- Fila 2 -->
					 	<tr>
					 		<td> <%= body.movies[0].abridged_cast[2].name %> </td>
					 		<td> <img src="img/flecha.png"></img> </td>
					 		<td> <%= body.movies[0].abridged_cast[2].characters %></td>
					 	</tr>

					 	<!-- Fila 3 -->
					 	<tr>
					 		<td> <%= body.movies[0].abridged_cast[3].name %></td>
					 		<td> <img src="img/flecha.png"></img> </td>
					 		<td> <%= body.movies[0].abridged_cast[3].characters %> </td>
					 	</tr>

					 	<!-- Fila 4 -->
					 	<tr>
					 		<td> <%= body.movies[0].abridged_cast[4].name %></td>
					 		<td> <img src="img/flecha.png"></img> </td>
					 		<td> <%= body.movies[0].abridged_cast[4].characters %> </td>
					 	</tr>

		 			</table> <!--  Cierre de la tabla-->

					<a href="/cartelera"> <img src="img/atras.png"></img> </a>

				</div> <!-- Cierre del div data -->

			</section> <!-- Cierre la info -->
			
		</div> <!-- Cierre del div container -->

	</body>
</html>