<!doctype html>
<html>
	<head>

		<meta charset="utf8" />
		<title> Próximamente </title>
		<link rel="stylesheet" href="css/main.css" />

	</head>

	<body>

		<div class="container">

			<% include header.html %>

			<% include menu_nav.html %>

			<h2> Próximamente </h2>

			<section class="movies">

				<div id="movie7">

					<a href="/exodus"> <h3 id="titulo"> <%= body.movies[0].title %> </h3> </a>

					<a href="/exodus"> <img src="img/icon/exodus.jpg"></img> </a>

					<h3> Año: </h3>

					<p> <%= body.movies[0].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[0].runtime %> mins </p>

				</div> <!-- Cierre del div movie7 -->

				<div id="movie8">

					<a href="/inherentVice"> <h3 id="titulo"> <%= body.movies[1].title %> </h3> </a>

					<a href="/inherentVice"> <img src="img/icon/inherentVice.jpg"></img> </a>

					<h3> Año: </h3>

					<p> <%= body.movies[1].year %> </p>

					<h3> Duración: </h3>

					<p> <%= body.movies[1].runtime %> mins </p>

				</div> <!-- Cierre del div movie8 -->
			
		</div> <!-- Cierre del div container -->

	</body>
</html>